body {
  background-color: gray;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}

p {
 text-align: center; 
}

@font-face {
  font-family: 8bit;
  src: url(8bitoperator_jve.tff);
}
